# Cutom Outlier Treatment Algo
this is custom outlier treatment using IsolationForest

In [694]:
import numpy as np
import pandas as pd
import pandasql as ps
import matplotlib.pyplot as plt
from sklearn.ensemble import IsolationForest

In [695]:
def filter_list(lst):
    for idx in range(len(lst)):
        if lst[idx] == -1:
            lst[idx] = 1
        else:
            break

    return np.array(lst)

filter_list([-1 ,1,1,1,1,1,1,1,1,1,1,1,1,1,-1,-1,-1,-1])

array([ 1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1, -1, -1,
       -1])

In [696]:
#Read CSVFile
df = pd.read_csv("dataset for outlier treatment.csv")
final_df = pd.DataFrame(columns=['dateid','StoreId','StoreName','StoreBillingSoftwareName','RegionId','RegionName','final_brandname','TotalStockSoldQuantity','TotalStockSoldAmount_x','TotalStockSoldAmount_y'])
df

,dateid,StoreId,StoreName,StoreBillingSoftwareName,RegionId,RegionName,final_brandname,TotalStockSoldQuantity,TotalStockSoldAmount
0,20200101,3220,A.M.Assorted,Marg,56,Howrah,GLUCORYL-MV,3.0,318.60
1,20200101,488,A.N.Pharma,NewMedica,5,Thane,TAXIM-O,252.0,18975.78
2,20200101,488,A.N.Pharma,NewMedica,5,Thane,SWICH-CV,4.0,771.08
3,20200101,488,A.N.Pharma,NewMedica,5,Thane,ZOCEF-CV,15.0,3107.10
4,20200101,488,A.N.Pharma,NewMedica,5,Thane,GLUCORYL-MV,2.0,207.86
5,20200101,488,A.N.Pharma,NewMedica,5,Thane,PAN-D,5.0,635.70
6,20200101,488,A.N.Pharma,NewMedica,5,Thane,GLUCORYL-M,16.0,1452.10
7,20200101,488,A.N.Pharma,NewMedica,5,Thane,EUCLIDE-M,16.0,771.36
8,20200101,488,A.N.Pharma,NewMedica,5,Thane,PAN,1815.0,63808.17
9,20200101,488,A.N.Pharma,NewMedica,5,Thane,EMTY,27.0,2311.20
10,20200101,488,A.N.Pharma,NewMedica,5,Thane,CLAVAM,54.0,4178.62
11,20200101,488,A.N.Pharma,NewMedica,5,Thane,OLYMPRIX,5.0,671.45
12,20200101,488,A.N.Pharma,NewMedica,5,Thane,Gemcal XT,1.0,210.71
13,20200101,488,A.N.Pharma,NewMedica,5,Thane,XONE,70.0,1296.40
14,20200101,488,A.N.Pharma,NewMedica,5,Thane,A TO Z GOLD,4.0,420.32
15,20200101,488,A.N.Pharma,NewMedica,5,Thane,HEMFER,20.0,1512.86
16,20200101,488,A.N.Pharma,NewMedica,5,Thane,SWICH,2.0,178.58
17,20200101,488,A.N.Pharma,NewMedica,5,Thane,ZOCEF,254.0,76777.46
18,20200101,488,A.N.Pharma,NewMedica,5,Thane,GEMCAL,2382.0,486618.78
19,20200101,488,A.N.Pharma,NewMedica,5,Thane,ENZOFLAM,40.0,3585.60
20,20200101,488,A.N.Pharma,NewMedica,5,Thane,ONDEM,36.0,1091.60
21,20200101,488,A.N.Pharma,NewMedica,5,Thane,A TO Z NS,45.0,4398.52
22,20200101,488,A.N.Pharma,NewMedica,5,Thane,UPRISE-D3,1.0,55.20
23,20200101,676,"Aadi pharma, Ahmedabad",MonitorPlus,15,Ahmedabad,SUMO,1.0,72.00
24,20200101,819,Aai Pharma,NewMedica,66,Raigad,SWICH-CV,1.0,233.93
25,20200101,819,Aai Pharma,NewMedica,66,Raigad,ZOCEF-CV,1.0,159.65
26,20200101,819,Aai Pharma,NewMedica,66,Raigad,PAN-D,6.0,762.84
27,20200101,819,Aai Pharma,NewMedica,66,Raigad,GLUCORYL-M,6.0,670.72
28,20200101,819,Aai Pharma,NewMedica,66,Raigad,ENZOFLAM,76.0,6812.64
29,20200101,819,Aai Pharma,NewMedica,66,Raigad,ONDEM,4.0,146.76
...,...,...,...,...,...,...,...,...,...
83927,20200131,1032,West Coast Agencies,Samarth,3,Mumbai,A TO Z GOLD,2.0,210.16
83928,20200131,1032,West Coast Agencies,Samarth,3,Mumbai,GEMCAL,8.0,1451.46
83929,20200131,1032,West Coast Agencies,Samarth,3,Mumbai,PAN,4.0,394.28
83930,20200131,1032,West Coast Agencies,Samarth,3,Mumbai,HEMFER,2.0,175.72
83931,20200131,1032,West Coast Agencies,Samarth,3,Mumbai,CLAVAM,3.0,225.11
83932,20200131,1032,West Coast Agencies,Samarth,3,Mumbai,UPRISE-D3,28.0,2698.13
83933,20200131,1032,West Coast Agencies,Samarth,3,Mumbai,SWICH,2.0,113.94
83934,20200131,1032,West Coast Agencies,Samarth,3,Mumbai,OLYMPRIX,5.0,671.45
83935,20200131,1032,West Coast Agencies,Samarth,3,Mumbai,EUCLIDE-M,6.0,545.34
83936,20200131,1032,West Coast Agencies,Samarth,3,Mumbai,SUMO,3.0,221.79
83937,20200131,1032,West Coast Agencies,Samarth,3,Mumbai,A TO Z NS,17.0,1087.50
83938,20200131,2379,Western chemist distributor,Universal,5,Thane,PAN,23.0,2267.11
83939,20200131,2379,Western chemist distributor,Universal,5,Thane,PAN-D,31.0,3941.34
83940,20200131,2379,Western chemist distributor,Universal,5,Thane,UPRISE-D3,10.0,1848.90
83941,20200131,1976,"Zen Pharma, Kolkata",Swil,55,Kolkata,ZOCEF-CV,6.0,1897.12
83942,20200131,1976,"Zen Pharma, Kolkata",Swil,55,Kolkata,TAXIM-O,30.0,2253.60
83943,20200131,1976,"Zen Pharma, Kolkata",Swil,55,Kolkata,EMTY,2.0,171.20
83944,20200131,1976,"Zen Pharma, Kolkata",Swil,55,Kolkata,A TO Z GOLD,6.0,630.48
83945,20200131,1976,"Zen Pharma, Kolkata",Swil,55,Kolkata,PAN-D,75.0,9535.50
83946,20200131,1976,"Zen Pharma, Kolkata",Swil,55,Kolkata,GEMCAL,76.0,15526.04
83947,20200131,1976,"Zen Pharma, Kolkata",Swil,55,Kolkata,ENZOFLAM,20.0,1793.00
83948,20200131,1976,"Zen Pharma, Kolkata",Swil,55,Kolkata,ZOCEF,2.0,1101.42
83949,20200131,1976,"Zen Pharma, Kolkata",Swil,55,Kolkata,Gemcal XT,2.0,421.42
83950,20200131,1976,"Zen Pharma, Kolkata",Swil,55,Kolkata,CLAVAM,12.0,1657.92
83951,20200131,1976,"Zen Pharma, Kolkata",Swil,55,Kolkata,PAN,118.0,11631.26
83952,20200131,1976,"Zen Pharma, Kolkata",Swil,55,Kolkata,OLYMPRIX,4.0,537.16
83953,20200131,1976,"Zen Pharma, Kolkata",Swil,55,Kolkata,UPRISE-D3,35.0,4302.66
83954,20200131,1976,"Zen Pharma, Kolkata",Swil,55,Kolkata,OLKEM,4.0,718.56
83955,20200131,1976,"Zen Pharma, Kolkata",Swil,55,Kolkata,ONDEM,2.0,52.54
83956,20200131,1976,"Zen Pharma, Kolkata",Swil,55,Kolkata,SWICH,3.0,228.23

In [1]:
regions = [3,4,5,15,55,56,66]
for region in regions: 
    print(region)
    query = """
                SELECT distinct StoreId FROM df where RegionId = '"""+str(region)+"""' ORDER BY StoreId,final_brandname
             """
    stores_df = ps.sqldf(query, locals())
    #print(stores_df)
    cnt =0
    for index, row in stores_df.iterrows():
        query = """
                    SELECT distinct final_brandname FROM df where RegionId = '"""+str(region)+"""' and StoreId = '"""+str(stores_df.at[index,'StoreId'])+"""' ORDER BY final_brandname
                 """
        brands_df = ps.sqldf(query, locals())
        for index1, row1 in brands_df.iterrows():
            #print("brand",str(brands_df.at[index1,'final_brandname']))
            query = """
                        SELECT * FROM df where RegionId = '"""+str(region)+"""' and StoreId = '"""+str(stores_df.at[index,'StoreId'])+"""' and final_brandname = '"""+str(brands_df.at[index1,'final_brandname'])+"""' ORDER BY final_brandname
                     """
            my_df = ps.sqldf(query, locals())

            #print(my_df)
            result = outliertreatment(my_df)
            #print(result)
            if result is not None:
                mergedDf = my_df.merge(result, left_index=True, right_index=True)
                #print(mergedDf)
                final_df = final_df.append(mergedDf,ignore_index=True)
            else:
                my_df['TotalStockSoldAmount_y'] = ""
                mergedDf = my_df.merge(my_df, left_index=True, right_index=True)
                #print(mergedDf)
                final_df = final_df.append(mergedDf,ignore_index=True)

In [698]:
final_df.to_csv('/home/juned/PythonWork/OutlierPandas/dataset for outlier treatment-withoutlier.csv', header=True, index=False)

In [692]:
def outliertreatment(my_df):
    #print(my_df)
    ndf = pd.DataFrame(my_df['TotalStockSoldAmount'])
    ndf = ndf.sort_values(by=['TotalStockSoldAmount'])#.reset_index(drop=True)
    #print("::::::::::::::::::::ndf:::::::::::::::::::::",ndf)
    df_less100000 = ndf[ndf['TotalStockSoldAmount'] < 100000]
    #print(df_less100000)
    if len(df_less100000)==0 and len(ndf)>0:
        # This is a Specialcase where everything above 100000 means everything is outlier, in this case replace outlier with that brand of entire regions mean
        RegionId = my_df['StoreId'][0]
        BrandName = my_df['final_brandname'][0]
        #Read CSVFile
        df = pd.read_csv("dataset for outlier treatment.csv")
        #df
        query = """
                    SELECT * FROM df where RegionId = '"""+str(RegionId)+"""' and final_brandname = '"""+str(BrandName)+"""' and (TotalStockSoldAmount >0 and TotalStockSoldAmount <100000) 
                 """
        my_df1 = ps.sqldf(query, locals())
        ndf1 = pd.DataFrame(my_df1['TotalStockSoldAmount'])
        ndf1 = ndf1.sort_values(by=['TotalStockSoldAmount']).reset_index(drop=True)
        df_less100000 = ndf1[ndf1['TotalStockSoldAmount'] < 100000]
        
        #Algo
        if len(df_less100000>0):
            rng = np.random.RandomState(20)
            clf = IsolationForest( behaviour = 'new', max_samples='auto', random_state = rng, contamination= 'auto')
            preds = clf.fit_predict(df_less100000)
            preds = filter_list(preds)
            #Find outlier
            df_outlier = df_less100000['TotalStockSoldAmount'][preds == -1]
            
            #Find Mean of non-outlier values
            mean = np.mean(df_less100000["TotalStockSoldAmount"][preds == 1])
            
            ndf["TotalStockSoldAmount"][ndf['TotalStockSoldAmount'] >= 100000] = mean
            #print(ndf)
            return ndf
        else:
            return ndf

    else:
        #Algo
        rng = np.random.RandomState(20)
        clf = IsolationForest( behaviour = 'new', max_samples='auto', random_state = rng, contamination= 'auto')
        preds = clf.fit_predict(df_less100000)
        preds = filter_list(preds)
        #print(preds)
        

        #Find outlier
        df_outlier = df_less100000['TotalStockSoldAmount'][preds == -1]
        
        #Find Mean of non-outlier values
        mean = np.mean(df_less100000["TotalStockSoldAmount"][preds == 1])
        
        #Replace Mean value with outlier values
        df_less100000["TotalStockSoldAmount"][preds == -1] = mean
        
        #Replace by index new outlier value in main df
        ndf.loc[df_less100000.index] = df_less100000
        
        #Noew its time to Replace >100000 values with mean value
        pd.options.mode.chained_assignment = None  # default='warn'
        df_greater100000 = ndf[ndf['TotalStockSoldAmount'] >= 100000]
        if len(df_greater100000)>0:
            df_greater100000["TotalStockSoldAmount"][df_greater100000['TotalStockSoldAmount'] >= 100000] = mean
            #print("::::::df_greater100000 value replaced by mean:::::::")
            # Replace >100000 values by index new outlier value in main df 
            ndf.loc[df_greater100000.index] = df_greater100000
            
        return ndf

In [375]:
# np.random.seed(1)
rng = np.random.RandomState(20)
clf = IsolationForest( behaviour = 'new', max_samples='auto', random_state = rng, contamination= 'auto')
preds = clf.fit_predict(df_less100000)
preds

array([-1, -1, -1, -1, -1, -1, -1, -1, -1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1, -1, -1, -1, -1, -1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1])

In [376]:
df_outlier = df_less100000['TotalStockSoldAmount'][preds == -1]
df_outlier

0         42.25
1         42.25
2         42.25
3         42.25
4         42.25
5         42.25
6         42.25
7         42.25
8         42.44
22        84.50
23        84.50
24        84.50
25        84.50
26        84.50
531     3399.35
532     3442.32
533     3460.08
534     3504.65
535     3510.35
536     3510.35
537     3540.97
538     3662.79
539     3758.06
540     3782.61
541     3849.58
542     3861.20
543     3996.47
544     4011.60
545     4025.81
546     4065.98
         ...
692    15213.85
693    15220.95
694    15246.83
695    15335.45
696    15491.68
697    15571.96
698    15671.62
699    16384.16
700    16923.02
701    17079.17
702    17610.76
703    17723.27
704    18309.16
705    18799.57
706    19036.34
707    19561.15
708    19868.38
709    20174.97
710    21926.58
711    24434.43
712    25323.66
713    25426.88
714    25846.50
715    27940.37
716    28753.51
717    30228.23
718    33062.72
719    33882.11
720    35399.15
721    36252.88
Name: TotalStockSoldAmount, Length: 205, dtype: float64

In [378]:
mid = np.mean(df_less100000["TotalStockSoldAmount"][preds == 1])
mid

972.1301353965189

In [341]:
df_less100000["TotalStockSoldAmount"][preds == -1] = mid
df_less100000

   TotalStockSoldAmount
0                408.58
1                817.16
2               2042.90
3               2451.48
4               1430.03
5               1430.03

In [343]:
ndf.loc[df_less100000.index] = df_less100000
ndf

    TotalStockSoldAmount
0                 408.58
1                 817.16
2                2042.90
3                2451.48
4                1430.03
5                1430.03
6              200909.98
7              249233.80
8              299717.82
9              316509.50
10             320735.30
11             360736.24
12             365567.72
13             370173.48
14             392534.00
15             486618.78
16             551174.42
17             551388.72
18             570717.74
19             584843.60
20             608784.20
21             614912.90
22             615252.96
23             627987.46
24             640993.50
25             640993.50
26            1014912.72

In [345]:
# df_greater100000 = ndf[ndf['TotalStockSoldAmount'] >= 100000]
df_greater100000["TotalStockSoldAmount"][df_greater100000['TotalStockSoldAmount'] >= 100000] = mid
df_greater100000

    TotalStockSoldAmount
6                1430.03
7                1430.03
8                1430.03
9                1430.03
10               1430.03
11               1430.03
12               1430.03
13               1430.03
14               1430.03
15               1430.03
16               1430.03
17               1430.03
18               1430.03
19               1430.03
20               1430.03
21               1430.03
22               1430.03
23               1430.03
24               1430.03
25               1430.03
26               1430.03

In [348]:
ndf.loc[df_greater100000.index] = df_greater100000
ndf

    TotalStockSoldAmount
0                 408.58
1                 817.16
2                2042.90
3                2451.48
4                1430.03
5                1430.03
6                1430.03
7                1430.03
8                1430.03
9                1430.03
10               1430.03
11               1430.03
12               1430.03
13               1430.03
14               1430.03
15               1430.03
16               1430.03
17               1430.03
18               1430.03
19               1430.03
20               1430.03
21               1430.03
22               1430.03
23               1430.03
24               1430.03
25               1430.03
26               1430.03